# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/
**/venv/
**/.venv/
bemt_app/venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook Checkpoints & Cache
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Streamlit local secrets / runtime config
.streamlit/secrets.toml

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
._*

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage / IDE
.pytest_cache/
.coverage
htmlcov/
.vscode/
.idea/
